In [44]:
import numpy as np
import pandas as pd
import ast

In [45]:
job = pd.read_csv("GROUP_ASSIGNMENT_DATA.csv")

In [46]:
job.head()

,user ID,Name,Age,Gender,Academic Background,Field of Study,Skills,Industry_Interest,Job_Type_Interest,Location_Interest,Salary_Expectation_(in_USD),desired_company
0,986206.0,John Smith,28.0,Male+D43B100D2:D55,Bachelor's degree,Computer Science,"Java, Python, Data Structures",Technology,Full-time,New York,65000.0,APPLE
1,769632.0,Jane Doe,42.0,Female,Master's degree,Business,"Finance, Accounting, Microsoft Excel",Finance,Contract,London,85000.0,SAMSUNG
2,981314.0,David Lee,35.0,Male,"bachelor""s degree",NaN,"Sales, Customer Service, Communication",Retail,Part-time,Chicago,30000.0,GOOGLE
3,962892.0,Sarah Johnson,27.0,Female,Associate's degree,Nursing,"Patient Care, Medical Terminology",Healthcare,Full-time,Los Angeles,45000.0,MERCK & CO
4,967782.0,Michael Williams,46.0,Male,Bachelor's degree,Marketing,"Digital Marketing, Social Media",Marketing,Freelance,Toronto,70000.0,ABB

In [47]:
job['desired_company'] = job['desired_company'].str.upper()

In [48]:
job['desired_company'] = job['desired_company'].str.strip()

In [49]:
job.shape

(1092, 12)

In [50]:
#Industry_Interest
#Job_Type_Interest
#Location_Interest
#Salary_Expectation_(in USD)
#desired company

job = job[["Name", "Industry_Interest", "Job_Type_Interest", "Location_Interest", "Salary_Expectation_(in_USD)", "desired_company"]]

In [51]:
job.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         996 non-null    object
 1   Industry_Interest            999 non-null    object
 2   Job_Type_Interest            999 non-null    object
 3   Location_Interest            994 non-null    object
 4   Salary_Expectation_(in_USD)  999 non-null    float64
 5   desired_company              999 non-null    object
dtypes: float64(1), object(5)
memory usage: 51.3+ KB

In [52]:
job.isnull().sum()

Name                           96
Industry_Interest              93
Job_Type_Interest              93
Location_Interest              98
Salary_Expectation_(in_USD)    93
desired_company                93
dtype: int64

In [53]:
job.dropna(inplace=True)

In [54]:
job

,Name,Industry_Interest,Job_Type_Interest,Location_Interest,Salary_Expectation_(in_USD),desired_company
0,John Smith,Technology,Full-time,New York,65000.0,APPLE
1,Jane Doe,Finance,Contract,London,85000.0,SAMSUNG
2,David Lee,Retail,Part-time,Chicago,30000.0,GOOGLE
3,Sarah Johnson,Healthcare,Full-time,Los Angeles,45000.0,MERCK & CO
4,Michael Williams,Marketing,Freelance,Toronto,70000.0,ABB
...,...,...,...,...,...,...
994,crish guan,Healthcare,Freelance,"Cancun, Mexico",65000.0,BECHTEL CONSTRUCTION
995,cole duke,Finance,Full-time,"Tijuana, Mexico",85000.0,MERCK & CO
996,russi ma,Media,Full-time,"Edmonton, Canada",30000.0,APPLE
997,schols phil,Construction,Contract,"Winnipeg, Canada",45000.0,SAMSUNG
998,oley austin,Science,Part-time,"Anchorage, USA",70000.0,GOOGLE

In [55]:
job.duplicated().sum()

3

In [56]:
job.drop_duplicates(inplace=True)

In [57]:
job.iloc[0].Industry_Interest

'Technology'

In [58]:
#job['Skills'] = job['Skills'].tolist()

In [59]:
#type(job['Skills'])

In [60]:
#job.head()

In [61]:
job['tags'] = job["Industry_Interest"] + ", " + job["Job_Type_Interest"] + ", " + job["Location_Interest"]

In [62]:
new_job = job[["Name", "Industry_Interest", "Job_Type_Interest", "Location_Interest", "Salary_Expectation_(in_USD)", "desired_company", "tags"]]

In [63]:
new_job.head()

,Name,Industry_Interest,Job_Type_Interest,Location_Interest,Salary_Expectation_(in_USD),desired_company,tags
0,John Smith,Technology,Full-time,New York,65000.0,APPLE,"Technology, Full-time, New York"
1,Jane Doe,Finance,Contract,London,85000.0,SAMSUNG,"Finance, Contract, London"
2,David Lee,Retail,Part-time,Chicago,30000.0,GOOGLE,"Retail, Part-time, Chicago"
3,Sarah Johnson,Healthcare,Full-time,Los Angeles,45000.0,MERCK & CO,"Healthcare, Full-time, Los Angeles"
4,Michael Williams,Marketing,Freelance,Toronto,70000.0,ABB,"Marketing, Freelance, Toronto"

In [64]:
new_job['tags'] = new_job['tags'].apply(lambda x:x.lower())

In [65]:
new_job.head()

,Name,Industry_Interest,Job_Type_Interest,Location_Interest,Salary_Expectation_(in_USD),desired_company,tags
0,John Smith,Technology,Full-time,New York,65000.0,APPLE,"technology, full-time, new york"
1,Jane Doe,Finance,Contract,London,85000.0,SAMSUNG,"finance, contract, london"
2,David Lee,Retail,Part-time,Chicago,30000.0,GOOGLE,"retail, part-time, chicago"
3,Sarah Johnson,Healthcare,Full-time,Los Angeles,45000.0,MERCK & CO,"healthcare, full-time, los angeles"
4,Michael Williams,Marketing,Freelance,Toronto,70000.0,ABB,"marketing, freelance, toronto"

In [66]:
import nltk

In [67]:
from nltk.stem.porter import PorterStemmer

In [68]:
ps = PorterStemmer()

In [69]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [70]:
new_job['tags'] = new_job['tags'].apply(stem)

In [71]:
from sklearn.feature_extraction.text import CountVectorizer

In [72]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [73]:
vectors = cv.fit_transform(new_job['tags']).toarray()

In [74]:
vectors[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [75]:
cv.get_feature_names_out()

array(['africa', 'agriculture', 'alberta', 'amsterdam', 'anchorage',
       'angel', 'angeles', 'antonio', 'architecture', 'arizona', 'athens',
       'atlanta', 'austin', 'austria', 'belgium', 'belgrade', 'berlin',
       'bosnia', 'boston', 'bratislava', 'brazil', 'brussels',
       'bucharest', 'budapest', 'bulgaria', 'business', 'calgary',
       'california', 'canada', 'cancun', 'canterbury', 'cape', 'care',
       'charlotte', 'chicago', 'china', 'city', 'cologne', 'colorado',
       'columbus', 'construction', 'consulting', 'contract', 'copenhagen',
       'creative', 'croatia', 'czech', 'dalla', 'dallas', 'dc', 'denmark',
       'denver', 'design', 'diego', 'dresden', 'dublin', 'dubrovnik',
       'eastern', 'edinburgh', 'edmonton', 'education', 'energy',
       'engineering', 'environment', 'estonia', 'finance', 'finland',
       'fintech', 'florida', 'franc', 'francisco', 'frankfurt',
       'freelance', 'gdansk', 'geneva', 'georgia', 'germani', 'greec',
       'guadalajara', 'hamburg', 'health', 'healthcare', 'helsinki',
       'herzegovina', 'honolulu', 'hospitality', 'houston', 'hubei',
       'hungari', 'iceland', 'india', 'indianapolis', 'industri',
       'internship', 'ireland', 'itali', 'jose', 'kansa', 'kingdom',
       'krakow', 'la', 'lake', 'latvia', 'lisbon', 'lithuania',
       'ljubljana', 'lo', 'lombardy', 'london', 'louis', 'louisville',
       'lyon', 'madrid', 'malaga', 'manufacturing', 'marketing',
       'marseille', 'media', 'memphis', 'mexico', 'miami', 'michigan',
       'monaco', 'montreal', 'moscow', 'munich', 'nashville',
       'netherland', 'new', 'nigeria', 'norway', 'odisha', 'ogun', 'ohio',
       'oklahoma', 'omaha', 'oregon', 'orleans', 'oslo', 'ottawa',
       'pakistan', 'paris', 'paulo', 'petersburg', 'philadelphia',
       'phoenix', 'pittsburgh', 'poland', 'portland', 'porto', 'portug',
       'prague', 'quebec', 'raleigh', 'republ', 'retail', 'reykjavik',
       'riga', 'romania', 'rome', 'russia', 'sacramento', 'saint', 'salt',
       'salzburg', 'san', 'sao', 'sarajevo', 'sc', 'science', 'seattl',
       'seattle', 'serbia', 'sindh', 'slovakia', 'slovenia', 'sofia',
       'south', 'spain', 'st', 'stockholm', 'sweden', 'switzerland',
       'tallinn', 'tampa', 'technology', 'texa', 'tijuana', 'time',
       'toronto', 'transportation', 'unit', 'usa', 'valencia', 'vancouv',
       'vancouver', 'vegas', 'vienna', 'vilnius', 'warsaw', 'washington',
       'winnipeg', 'york', 'yucatan', 'zagreb', 'zealand', 'zurich'],
      dtype=object)

In [76]:
from sklearn.metrics.pairwise import cosine_similarity

In [77]:
similarity = cosine_similarity(vectors)

In [78]:
similarity[0]

array([1.        , 0.        , 0.28867513, 0.25      , 0.        ,
       0.25      , 0.25      , 0.28867513, 0.        , 0.28867513,
       0.75      , 0.57735027, 0.        , 0.25      , 0.25      ,
       0.        , 0.28867513, 0.        , 0.25      , 0.        ,
       0.28867513, 0.75      , 0.        , 0.28867513, 0.25      ,
       0.        , 0.25      , 0.25      , 0.        , 0.        ,
       0.28867513, 0.75      , 0.28867513, 0.        , 0.2236068 ,
       0.        , 0.28867513, 1.        , 0.        , 0.28867513,
       0.25      , 0.28867513, 0.        , 0.28867513, 0.28867513,
       0.        , 1.        , 0.57735027, 0.28867513, 0.57735027,
       0.57735027, 0.57735027, 0.        , 0.28867513, 0.57735027,
       0.        , 0.25      , 0.25      , 0.        , 0.25      ,
       0.20412415, 0.25      , 0.5       , 0.        , 0.25      ,
       0.4472136 , 0.        , 0.2236068 , 0.25      , 0.        ,
       0.25      , 0.        , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.25      , 0.        , 0.        , 0.25      ,
       0.5       , 0.2236068 , 0.        , 0.2236068 , 0.        ,
       0.25      , 0.25      , 0.25      , 0.25      , 0.25      ,
       0.        , 0.25      , 0.25      , 0.2236068 , 0.25      ,
       0.25      , 0.25      , 0.        , 0.25      , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.25      , 0.        , 0.        , 0.25      ,
       0.28867513, 0.61237244, 0.        , 0.25      , 0.25      ,
       0.        , 0.25      , 0.1767767 , 0.        , 0.2236068 ,
       0.2236068 , 0.25      , 0.        , 0.25      , 0.5       ,
       0.        , 0.2236068 , 0.25      , 0.        , 0.5       ,
       0.5       , 0.25      , 0.25      , 0.5       , 0.4472136 ,
       0.25      , 0.        , 0.5       , 0.        , 0.25      ,
       0.25      , 0.        , 0.5       , 0.25      , 0.        ,
       0.2236068 , 0.20412415, 0.2236068 , 0.        , 0.2236068 ,
       0.25      , 0.        , 0.25      , 0.4472136 , 0.2236068 ,
       0.        , 0.25      , 0.25      , 0.        , 0.2236068 ,
       0.2236068 , 0.5       , 0.28867513, 0.28867513, 0.25      ,
       0.        , 0.25      , 0.5       , 0.        , 0.28867513,
       0.28867513, 0.5       , 0.28867513, 0.        , 0.57735027,
       0.5       , 0.28867513, 0.28867513, 0.25      , 0.28867513,
       0.25      , 0.28867513, 0.25      , 0.28867513, 0.        ,
       0.5       , 0.28867513, 0.28867513, 0.25      , 0.        ,
       0.25      , 0.        , 0.28867513, 0.28867513, 0.        ,
       0.75      , 0.28867513, 0.        , 0.        , 0.28867513,
       0.28867513, 0.5       , 0.28867513, 0.28867513, 0.        ,
       0.28867513, 0.25      , 0.57735027, 0.        , 0.28867513,
       0.75      , 0.28867513, 0.28867513, 0.28867513, 0.        ,
       0.        , 0.57735027, 0.57735027, 0.57735027, 0.28867513,
       0.5       , 0.5       , 0.        , 0.25      , 0.40824829,
       0.        , 0.25      , 0.        , 0.25      , 0.4472136 ,
       0.25      , 0.2236068 , 0.25      , 0.25      , 0.25      ,
       0.        , 0.25      , 0.25      , 0.        , 0.        ,
       0.25      , 0.25      , 0.25      , 0.        , 0.25      ,
       0.        , 0.25      , 0.25      , 0.        , 0.25      ,
       0.2236068 , 0.        , 0.        , 0.25      , 0.25      ,
       0.25      , 0.25      , 0.25      , 0.        , 0.2236068 ,
       0.25      , 0.25      , 0.25      , 0.25      , 0.25      ,
       0.        , 0.5       , 0.25      , 0.        , 0.25      ,
       0.25      , 0.25      , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.2236068 , 0.25      , 0.        ,
       0.61237244, 0.        , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.25      , 0.2236068 , 0.        ,
       0.25      , 0.25      , 0.        , 0.        , 0.25      ,
       0.4472136 , 0.25      , 0.        , 0.25      , 0.25      ,
       0.25      , 0.25      , 0.        , 0.2236068 , 0.5       ,
       0.25      , 0.25      , 0.5       , 0.5       , 0.25      ,
       0.25      , 0.25      , 0.25      , 0.25      , 0.2236068 ,
       0.20412415, 0.        , 0.5       , 0.2236068 , 0.        ,
       0.5       , 0.25      , 0.2236068 , 0.        , 0.25      ,
       0.25      , 0.25      , 0.        , 0.2236068 , 0.2236068 ,
       0.75      , 0.28867513, 0.        , 0.25      , 0.        ,
       0.25      , 0.        , 0.28867513, 0.28867513, 0.        ,
       0.75      , 0.28867513, 0.25      , 0.28867513, 0.75      ,
       0.        , 0.        , 0.25      , 0.28867513, 0.57735027,
       0.        , 0.25      , 0.        , 0.57735027, 0.75      ,
       0.        , 0.57735027, 0.25      , 0.        , 0.        ,
       0.25      , 0.28867513, 0.        , 0.28867513, 0.75      ,
       0.        , 0.28867513, 0.25      , 0.28867513, 0.        ,
       0.75      , 0.28867513, 0.        , 0.25      , 0.28867513,
       0.        , 0.        , 0.28867513, 0.28867513, 0.67082039,
       0.        , 0.28867513, 0.57735027, 0.        , 0.28867513,
       0.28867513, 0.28867513, 0.28867513, 0.        , 0.25      ,
       0.        , 0.4472136 , 0.5       , 0.20412415, 0.5       ,
       0.5       , 0.25      , 0.25      , 0.4472136 , 0.25      ,
       0.        , 0.25      , 0.25      , 0.25      , 0.25      ,
       0.25      , 0.        , 0.5       , 0.25      , 0.        ,
       0.25      , 0.25      , 0.        , 0.        , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.2236068 , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.25      , 0.2236068 , 0.        ,
       0.25      , 0.25      , 0.25      , 0.25      , 0.        ,
       0.25      , 0.25      , 0.25      , 0.25      , 0.25      ,
       0.        , 0.5       , 0.        , 0.2236068 , 0.25      ,
       0.25      , 0.2236068 , 0.        , 0.28867513, 0.61237244,
       0.        , 0.25      , 0.25      , 0.        , 0.        ,
       0.18898224, 0.25      , 0.2236068 , 0.        , 0.25      ,
       0.        , 0.25      , 0.25      , 0.        , 0.2236068 ,
       0.25      , 0.        , 0.        , 0.25      , 0.25      ,
       0.25      , 0.25      , 0.2236068 , 0.        , 0.5       ,
       0.25      , 0.25      , 0.        , 0.25      , 0.5       ,
       0.25      , 0.5       , 0.5       , 0.2236068 , 0.20412415,
       0.2236068 , 0.25      , 0.4472136 , 0.        , 0.25      ,
       0.25      , 0.2236068 , 0.4472136 , 0.25      , 0.        ,
       0.5       , 0.        , 0.2236068 , 0.        , 0.75      ,
       0.        , 0.28867513, 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.        , 0.28867513, 0.75      ,
       0.28867513, 0.        , 0.28867513, 0.5       , 0.28867513,
       0.28867513, 0.        , 0.57735027, 0.28867513, 0.        ,
       0.        , 0.28867513, 0.28867513, 0.5       , 0.57735027,
       0.28867513, 0.        , 0.28867513, 0.5       , 0.25      ,
       0.        , 0.57735027, 0.28867513, 0.5       , 0.28867513,
       0.28867513, 0.        , 0.        , 0.28867513, 0.75      ,
       0.28867513, 0.        , 0.25      , 0.28867513, 0.        ,
       0.28867513, 0.28867513, 0.        , 0.28867513, 0.        ,
       0.28867513, 0.28867513, 0.        , 0.28867513, 0.28867513,
       0.28867513, 0.25      , 0.25      , 0.        , 0.25      ,
       0.20412415, 0.25      , 0.25      , 0.        , 0.5       ,
       0.4472136 , 0.5       , 0.4472136 , 0.25      , 0.5       ,
       0.25      , 0.        , 0.25      , 0.25      , 0.25      ,
       0.        , 0.25      , 0.5       , 0.        , 0.25      ,
       0.5       , 0.25      , 0.        , 0.25      , 0.25      ,
       0.        , 0.2236068 , 0.25      , 0.        , 0.        ,
       0.25      , 0.25      , 0.25      , 0.        , 0.25      ,
       0.2236068 , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.        , 0.25      , 0.25      , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.5       , 0.25      , 0.        , 0.        , 0.5       ,
       0.28867513, 0.56694671, 0.2236068 , 0.25      , 0.        ,
       0.25      , 0.25      , 0.        , 0.25      , 0.2236068 ,
       0.        , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.2236068 , 0.        , 0.25      , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.2236068 , 0.25      , 0.        , 0.25      , 0.25      ,
       0.25      , 0.25      , 0.25      , 0.25      , 0.25      ,
       0.        , 0.20412415, 0.4472136 , 0.25      , 0.4472136 ,
       0.25      , 0.5       , 0.25      , 0.4472136 , 0.2236068 ,
       0.25      , 0.25      , 0.25      , 0.        , 0.2236068 ,
       0.4472136 , 0.5       , 0.57735027, 0.28867513, 0.25      ,
       0.        , 0.25      , 0.        , 0.28867513, 0.28867513,
       0.        , 0.75      , 0.28867513, 0.        , 0.        ,
       0.75      , 0.28867513, 0.        , 0.25      , 0.28867513,
       0.        , 0.28867513, 0.25      , 0.28867513, 0.        ,
       1.        , 0.28867513, 0.25      , 0.28867513, 0.        ,
       0.        , 0.57735027, 0.28867513, 0.28867513, 0.5       ,
       0.57735027, 0.28867513, 0.        , 0.57735027, 0.28867513,
       0.5       , 0.28867513, 0.        , 0.25      , 0.        ,
       0.25      , 0.28867513, 0.        , 0.28867513, 0.75      ,
       0.        , 0.28867513, 0.28867513, 0.        , 0.        ,
       0.28867513, 0.28867513, 0.28867513, 0.        , 0.25      ,
       0.        , 0.20412415, 0.25      , 0.        , 0.5       ,
       0.25      , 0.        , 0.        , 0.67082039, 0.25      ,
       0.        , 0.25      , 0.25      , 0.25      , 0.5       ,
       0.5       , 0.5       , 0.25      , 0.5       , 0.25      ,
       0.        , 0.5       , 0.25      , 0.        , 0.        ,
       0.25      , 0.5       , 0.25      , 0.        , 0.4472136 ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.        , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.25      , 0.        , 0.        , 0.25      ,
       0.25      , 0.25      , 0.25      , 0.25      , 0.        ,
       0.25      , 0.2236068 , 0.        , 0.28867513, 0.81649658,
       0.        , 0.        , 0.25      , 0.5       , 0.        ,
       0.1767767 , 0.5       , 0.        , 0.2236068 , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.25      , 0.        , 0.        , 0.25      ,
       0.25      , 0.25      , 0.        , 0.25      , 0.25      ,
       0.        , 0.25      , 0.25      , 0.        , 0.2236068 ,
       0.        , 0.25      , 0.25      , 0.2236068 , 0.20412415,
       0.        , 0.5       , 0.2236068 , 0.        , 0.25      ,
       0.25      , 0.4472136 , 0.2236068 , 0.5       , 0.5       ,
       0.5       , 0.25      , 0.2236068 , 0.        , 0.75      ,
       0.        , 0.28867513, 0.25      , 0.28867513, 0.        ,
       0.25      , 0.57735027, 0.        , 0.28867513, 0.75      ,
       0.        , 0.25      , 0.28867513, 0.75      , 0.        ,
       0.28867513, 0.25      , 0.        , 0.28867513, 0.28867513,
       0.        , 0.        , 0.28867513, 0.75      , 0.28867513,
       0.        , 0.25      , 0.28867513, 0.        , 0.5       ,
       0.28867513, 0.        , 0.28867513, 0.5       , 0.28867513,
       0.        , 0.5       , 0.28867513, 0.        , 0.75      ,
       0.57735027, 0.        , 0.2236068 , 0.57735027, 0.        ,
       0.        , 0.28867513, 0.28867513, 0.75      , 0.        ,
       0.28867513, 0.        , 0.28867513, 0.28867513, 0.        ,
       0.28867513, 0.28867513, 0.        , 0.        , 0.25      ,
       0.2236068 , 0.        , 0.20412415, 0.25      , 0.        ,
       0.25      , 0.2236068 , 0.4472136 , 0.        , 0.4472136 ,
       0.25      , 0.        , 0.25      , 0.5       , 0.        ,
       0.        , 0.25      , 0.25      , 0.5       , 0.25      ,
       0.5       , 0.5       , 0.25      , 0.5       , 0.25      ,
       0.        , 0.5       , 0.        , 0.2236068 , 0.        ,
       0.2236068 , 0.5       , 0.        , 0.25      , 0.5       ,
       0.        , 0.25      , 0.2236068 , 0.        , 0.        ,
       0.25      , 0.25      , 0.25      , 0.        , 0.25      ,
       0.        , 0.25      , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.        , 0.25      , 0.25      ,
       0.        , 0.25      , 0.57735027, 0.40824829, 0.2236068 ,
       0.25      , 0.25      , 0.        , 0.25      , 0.37796447,
       0.        , 0.2236068 , 0.2236068 , 0.25      , 0.        ,
       0.2236068 , 0.5       , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.25      , 0.25      , 0.        ,
       0.25      , 0.        , 0.25      , 0.        , 0.25      ,
       0.25      , 0.        , 0.25      ])

In [79]:
import random

In [80]:
def recommend(indus, job, lo):
    indus_index = new_job[new_job['Industry_Interest']== indus].index[0]
    job_index = new_job[new_job['Job_Type_Interest']== job].index[0]
    lo_index = new_job[new_job['Location_Interest']== lo].index[0]
    distances1 = similarity[indus_index]
    distances2 = similarity[job_index]
    distances3 = similarity[lo_index]
    tags_list = sorted(list(enumerate(distances1)), reverse=True, key=lambda x:x[1])[1:6] + sorted(list(enumerate(distances2)), reverse=True, key=lambda x:x[1])[1:6] + sorted(list(enumerate(distances3)), reverse=True, key=lambda x:x[1])[1:6]
    #tags_list2 = sorted(list(enumerate(distances2)), reverse=True, key=lambda x:x[1])[1:6]
    #tags_list3 = sorted(list(enumerate(distances3)), reverse=True, key=lambda x:x[1])[1:6]
    
    unique_list = []
    
    for x in tags_list:
        if x not in unique_list:
            unique_list.append(x)
    
    #tags_list = [tags_list1]
    
    #rl = []

    for i in unique_list:
        print(new_job.iloc[i[0]].desired_company)
        #rl.append(new_job.iloc[i[0]].desired_company)
        #print(random.choice(rl))

In [81]:
recommend("Technology", "Full-time", "Chicago")

MERCK & CO
INTEL
ETSY INC
ATLASSIAN CORPORATION PLC
APPLE
MERCK & CO
APPLE
BAE SYSTEMS
CAPGEMINI
ATOS

In [82]:
'''def recommend_on_(tags):
    tags_index = new_job[new_job['Field_of_Study'] == tags].index[0]
    distances = similarity[tags_index]
    tags_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]

    for i in tags_list:
        print(new_job.iloc[i[0]].desired_company)'''

"def recommend_on_(tags):\n    tags_index = new_job[new_job['Field_of_Study'] == tags].index[0]\n    distances = similarity[tags_index]\n    tags_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x:x[1])[1:6]\n\n    for i in tags_list:\n        print(new_job.iloc[i[0]].desired_company)"

In [83]:
#recommend_on_fs('Business')

In [84]:
import pickle

In [85]:
pickle.dump(new_job, open('job.pkl','wb'))

In [86]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))